<div class="row" style="padding-top: 15px;">
    <div class="col-sm-8">
        <h3>Solicitud de Cotizacion</h3>
    </div>
    <div class="col-sm-4">
        <div class="media">
          <img class="align-self-center mr-3" src="http://via.placeholder.com/50x50" alt="Generic placeholder image">
          <div class="media-body">
            <h2 class="mt-0">{{ userName }}</h2>
          </div>
        </div>
    </div>
</div>

<!--Para alertas-->
<h5 class="alert alert-secondary" *ngIf="solicitudNumero" style="margin: 15px 0;">
    Se actualizó exitosamente la solicitud de cotizacion {{ solicitudNumero }}
</h5>
<h5 class="alert alert-warning" *ngIf="anularAction" style="margin: 15px 0;">
    Se anuló correctamente
</h5>

<div class="row" style="margin-top: 25px;">
    <div class="col-sm-6">
        <button type="button" class="btn btn-sm" name="new" (click)="goToForm()">Nuevo</button>
    </div>
    <div class="col-sm-6">
        <label class="sr-only" for="search">Search</label>
        <div class="input-group mb-2 mb-sm-0">
            <div class="input-group-addon">Buscar</div>
            <input type="text" class="form-control" id="search" 
                   placeholder="Ingrese numero de solicitud" [(ngModel)]="query">
        </div>
    </div>
</div>

<div class="row" style="margin-top: 25px;">
    <div class="col-sm-12">
        <table class="table">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" name="all" [(ngModel)]="checked">
                </th>
                <th>Número</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let solicitud of solicitudes | search:'document_number':query; let i = index">
                <td>
                    <input type="checkbox" name="test" [(ngModel)]="checked">
                </td>
                <td>{{ solicitud.document_number }}</td>
                <td>{{ solicitud.date | date:'d/M/y' }}</td>
                <td>{{ solicitud.status }}</td>
                <td>
                    <button class="btn btn-light" [routerLink]="['/solicitud-cotizacion/edit/', solicitud.uuid]"><!--[disabled]="solicitud.status !== 'pending'"-->
                        Ver
                    </button>
                    <button class="btn btn-danger" [disabled]="solicitud.status !== 'pending'" (click)="openAnularModal(anularModal, i)">
                        Anular
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <ngb-pagination *ngIf="totalItems" [collectionSize]="totalItems" (pageChange)="getPagination($event)" [(page)]="page" aria-label="Nota pedido paginacion"></ngb-pagination>
    </div>
</div>

<div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6 text-right">
        <button type="button" class="btn btn-sm" name="imprimir">Imprimir</button>
    </div>
</div>

<ng-template #anularModal let-d="dismiss" let-c="close">
    <div class="modal-header">
        <h4 class="modal-title">Anular Solicitud</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>¿Está seguro de eliminar esta Solicitud de Cotizacion?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="anular()">
            Anular
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">
            Cancelar
        </button>
    </div>

</ng-template>
